{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>sample-app</title>
    <meta name="description" content="">
    {% render_bundle 'runtime' 'css' %}
    {% render_bundle 'index' 'css' %}
    {% render_bundle 'vendor' 'css' %}
    <script>
      var csrfToken = '{{ csrf_token }}'
      var apiBase = '{{ site_url }}'
    </script>
  </head>
  <body>
    <div id="react"></div>
    {% render_bundle 'runtime' 'js' %}
    {% render_bundle 'index' 'js' %}
    {% render_bundle 'vendor' 'js' %}
  </body>
</html>
